<div class="sidebar">
  <div class="container sidebar-sticky">
          <img src="https://avatars0.githubusercontent.com/u/3942762?v=3&s=460" width="100%" alt="{{ site.title }} logo" class="panel-cover__logo logo" />

    <div class="sidebar-about">

      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>

      <div class="symbols">
        <a href='{{ site.baseurl }}/about-me' title="About me"><span class='symbol'>circleaboutme</span></a>
        <a href='mailto://turhan.oz+blog@gmail.com' title="Mail" target="_blank"><span class='symbol'>circleemail</span></a>
        <a href='http://twitter.com/TurhanOz' title="Twitter" target="_blank"><span class='symbol'>circletwitterbird</span></a>
        <a href='http://github.com/turhanoz' title="Github" target="_blank"><span class='symbol'>circlegithubalt</span></a>
        <a href='https://fr.linkedin.com/in/turhanoz/en' title="LinkedIn" target="_blank"><span class='symbol'>circlelinkedin</span></a>
      </div>
    </div>
  </div>
</div>
